.playlist__container {
  height: calc(100vh - 52px);
  background-color: black;
}
.playlist__restSongsContainer {
  height: 50%;
  padding: 5px;
  overflow-y: scroll;
  width: 100%;
}
.playlist__currentSongContainer {
  border: solid 3px white;
  box-sizing: border-box;
  height: 50%;
  width: 100%;
}

.playlist__currentSongItem {
  margin: 10px;
}
.playlist__currentSongItem > li {
  color: whitesmoke;
  margin: 5px 5px;
  padding-left: 10px;
  text-align: left;
}
.playlist__restSongs {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin: 10px 5px;
  opacity: 1;
}
.playlist__restSongs > button {
  margin: 0 0 10px 10px;
  width: 85%;
}

.playlist__restSongsItem > li {
  margin: 5px 10px;
  text-align: left;
  color: whitesmoke;
}

.playlist__currentSongContainer > img {
  display: block;
  width: 100%;
}