.visualization {
  position: absolute;
  height: calc(100vh - 52px);
  width: calc(100vw);
  overflow: hidden;
}
.timer {
  position: absolute;
  left: calc(50vw - 150px);
  top: calc(50vh - 75px);
  background-color: black;
  font-size: 60px;
  color: white;
  font-size: 24px;
  outline: none;
}
.vis3 {
  transform: scaleY(-1);
}