.webcam__wrapper {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  border-radius: 250px;
  border: 10px solid white;
  overflow: hidden;
  position: relative;
  z-index: 3;
  video {
    margin-left: -110px;
  }
}
